.header {
  width: 100%;
  background: var(--backgroundSecondary);
  border-bottom: 1px solid #f2f2f2;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .logoContainer {
    width: 100%;
    max-width: 33%;
    > div {
      position: unset !important;
    }
    .logo {
      position: relative !important;
      height: 3.5rem !important;
    }
  }

  .menuBarButton {
    font-size: 1.5rem;
    outline: none;
  }

  .nav {
    position: fixed;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(51, 51, 51, 0.7);

    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 100;

    &.menuMobileOpen {
      display: flex;
    }
    .wrap {
      width: 17.5rem;
      height: 100%;
      background: var(--backgroundPrimary);
      z-index: 999;
      animation: fade-in-left 0.2s linear;

      padding-top: 2rem;
    }

    .logoContainer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: nowrap;
      margin-bottom: 1.5rem;
      padding: 1rem 1.5rem;

      background: var(--colorPrimary);

      button {
        font-size: 1.5rem;
        color: var(--textSecondaryColor);
        top: 0.5rem;
        right: 0.5rem;
        position: absolute;
        outline: none;
        transition: color 0.3s;

        &:hover {
          color: var(--textPrimaryColor);
        }
      }

      img {
        max-width: 8rem !important;
        height: 4rem !important;
        width: min-content !important;
      }
    }
    .navbar {
      padding: 1.5rem;
      padding-top: 0;

      font: 700 1rem Lexend, sans-serif;
      color: var(--textPrimaryColor);
      text-align: left;
      a {
        position: relative;

        .iconDistance {
          margin-right: 1rem;
        }
        &::after {
          content: '';
          width: 0%;
          height: 0.25rem;

          margin-top: 0.5rem;

          display: block;

          background: var(--colorPrimary);
          transition: width var(--transition-hover);
        }
        &:hover {
          color: var(--colorPrimary);
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  &.menuDesktop {
    > div {
      gap: 2rem;
    }

    .logoContainer {
      flex: 1;
      order: 1;

      width: 100%;
      max-width: 10% !important;
    }
    .nav {
      flex: 2;
      order: 2;
      position: static;
      width: fit-content;
      height: fit-content;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      text-align: right;
      background: var(--backgroundSecondary);

      .wrap {
        width: fit-content;
        padding: 0;
      }
      .navbar {
        display: flex;
        align-items: center;
        gap: 2rem;
        background: var(--backgroundSecondary);

        padding: 0;
        .iconDistance {
          display: none;
        }

        a {
          display: block;
          font-size: 1.125rem;
          &::after {
            position: absolute;
          }
        }
      }
    }
    .menuBarButton {
      display: none;
    }
  }

}

//Animation
@keyframes fade-in-left {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

