/*===================== RESET =======================*/
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
h1, h2, h3, h4, h5 {
  font-size: 1rem;
  font-weight: normal;
}
* , *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

section,
div {
  position: relative;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}


@media (max-width: 999.98px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 759.98px) {
  html {
    font-size: 87.5%;
  }
}



html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
/*===================== VARIABLES =======================*/
:root {
  --backgroundPrimary: #F1F9FE;
  --backgroundSecondary: #FFFFFF;

  --colorPrimary: hsl(358, 74%, 49%);
  --colorSecondary: hsl(28, 100%, 60%);
  --colorTertiary: hsl(45, 100%, 62%);
  --colorQuarternary: hsl(171, 62%, 51%);

  --textPrimaryColor: #333333;
  --textSecondaryColor: #FFFFFF;
  --textTertiaryColor: #5A5A5A;
  --textQuarternaryColor: #C5C6CA;

  --borderColor: #dcdcdc;
  --transition-hover: 0.7s;
  --commonRadius: 0.5rem;
}
body {
  font: 400 1rem Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--textPrimaryColor);
  background: var(--backgroundSecondary);
}


.container {
  margin: 0 1.5rem;
  position: relative;
}

.grid {
  display: grid;
  gap: 1.75rem;
}
.section {
  padding-top: 3rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid var(--colorPrimary);
  color: var(--textSecondaryColor);
  background: var(--colorPrimary);

  cursor: pointer;
  padding: .375rem .75rem;
  border-radius: var(--commonRadius);

  font: 400 1rem Inter, sans-serif;
  line-height: 1.5;
  white-space: nowrap;

  transition: background var(--transition-hover);
  &.btn-yellow {

    border: var(--colorSecondary);
    background: var(--colorSecondary);
  }

  &.cta {
    font-weight: 700;
    padding: .5rem 1rem;
  }

  &.btn-outline {
    background: none;
    border-color: var(--textSecondaryColor);
    color: var(--textSecondaryColor);

    &:hover {
      background: none;
      color: none;
      filter: brightness(0.8);
    }
  }
  &:hover {
    filter: brightness(0.8);
  }
}

.title {
  font: 700 1.5rem Inter, sans-serif;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  color: var(--textPrimaryColor);

  &::after {
    content: "";
    display: block;
    width: 20%;
    height: 0.125rem;

    margin-top: .25rem;

    border-radius: var(--commonRadius);
    background: var(--textPrimaryColor);
  }
}

.callAction {
  text-align: center;
  padding: 1.5rem 0;
}

.logoContainer {
  width: 100%;

  > div {
    position: unset !important;
  }
  img {
    position: relative !important;
    height: 3.5rem !important;
  }
}