#main {
  display: flex;
  flex-direction: column;

  .promotion {
    background: linear-gradient(to right, #d92027, #e30058);

    .promotionsList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      gap: 1rem;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        gap: 1rem;
      }

      .promotionIcon {
        color: var(--textSecondaryColor);
        font-size: 1.5rem;
      }
      p {
        font: 400 1rem Inter, sans-serif;
        line-height: 1.5;
        color: var(--textSecondaryColor);

        span {
          font-size: 1.25rem;
          font-weight: 700;
        }
        a {
          display: flex;
          align-items: center;
          color: var(--colorTertiary);
          transition: filter, transform var(--transition-hover);

          &:hover {
            transform: translateX(20px);
            filter: brightness(0.8);
          }
        }
      }
    }
  }

  .introduction {
    padding: 3rem 0;
    background: var(--backgroundSecondary);

    .bannerIntroduction {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      text-align: center;
      color: var(--textPrimaryColor);

      .bannerIntroductionImage {
        width: 100%;

        > div {
          position: unset !important;
        }
        img {
          position: relative !important;
          height: 18rem !important;
        }
      }
      .bannerIntroductionContent {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;

        .titleBanner {
          font: 700 1.5rem Lexend, sans-serif;
          text-transform: uppercase;
          display: inline-block;

          &::after {
            content: '';
            display: block;
            width: 30%;
            height: 0.125rem;

            margin-top: 0.25rem;

            border-radius: var(--commonRadius);
            background: var(--textPrimaryColor);
          }
        }

        p {
          text-align: left;
          padding-top: 1.5rem;
          font: 400 1rem Lexend, sans-serif;
          line-height: 1.5;
        }
        .bannerIntroductionFooter {
          padding-top: 1.5rem;
          display: flex;
          justify-content: space-between;
          gap: 1rem;
        }
      }
    }
  }

  .portfolio {
    width: 100%;

    .cards {
      padding-top: 2rem;

      display: flex;
      align-items: center;
      flex-direction: column;

      gap: 1.25rem;
    }

    .callAction {
      padding-top: 1.5rem;
      display: flex;
      align-items: center;
      flex-direction: column;

      gap: 1.5rem;

      p {
        font: 500 1rem Lexend, sans-serif;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.5;
        color: var(--textPrimaryColor);
      }
    }
  }

  .testimonials {
    .testimonia {
      padding-top: 2rem;
    }
  }

  .banner {
    margin-top: 3rem;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7)),
      url(../../public/pizza-rodape.jpg) no-repeat;
    background-size: cover;

    .bannerContent {
      max-width: 300px;
      margin-left: auto;
      padding: 7.5rem 0;

      text-align: right;
      color: var(--textSecondaryColor);

      .bannerTitle {
        font: 500 1.25rem Inter, sans-serif;
        line-height: 1.5;
        text-transform: uppercase;
      }

      .bannerValue {
        font: 700 2rem Inter, sans-serif;
        line-height: 1.5;
        span {
          &:first-child {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

