.cardapio {
  padding-bottom: 3rem;

  .cardapioHeader {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.7)), url(../../../public/food-pizza.jpeg) no-repeat;
    background-size: cover;
    padding: 8rem 0;
    position: relative;

    .headerWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: center;

      gap: 1rem;

      h2 {
        text-align: center;
        color: var(--textSecondaryColor);
      }
      h2::after {
        margin: 0 auto;
        background: var(--textSecondaryColor);
      }

      p {
        max-width: 350px;
        font: 400 0.875rem Inter,sans-serif;
        line-height: 1.5;
        text-align: center;

        color: var(--textQuarternaryColor);
      }
    }

    footer {
      position: absolute;

      display: block;
      width: 100%;
      bottom: 0;
      padding: 1rem 0;

      background: var(--colorSecondary);
      text-align: center;

      p {
        font: 700 1rem Lexend,sans-serif;
        color: var(--textSecondaryColor);

        span {
          color: var(--textPrimaryColor);
        }
      }

    }

  }


  .listCardapio {

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}