.cardapio {
  padding-bottom: 3rem;

  .listCardapio {

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}